@media screen and (max-width: 69.875em) {
body {
    padding: 5.5rem 0rem;
}

.content-wrapper {
    flex-direction: column;
    border-radius: 0px 0px 8px 8px;
}

/* Width and height of img mobile, overlay and card */

.header-mobile, .stats-content, .header-mobile::before {
 width: 327px;
}

.header-mobile::before, .stats-content {
    height: 540px;
}

/* Card styling */

.header-mobile, .header-mobile::before {
    border-radius: 8px 8px 0px 0px;
}

/* Card content */

.stats-content {
    flex-direction: column;
    padding: 2.5rem 1.969rem 2rem 1.969rem;
}

.stats-content > h1 {
    font-size: 1.75rem;
    line-height: 32px;
    max-width: 350px;
}

.stats-content > p {
    padding: 1rem 0rem 2.5rem  0rem;
    line-height: 25px;
    font-size: 0.938rem;
}

/* Stats styling */

.unordered-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 2px;
}


li {
    font-size: 1.5rem;
}

.li-group {
    padding: 1.5rem 0rem;
}

.unordered-list > p, .li-group > p {
    font-size: 0.75rem;
    line-height: 25px;
}


}